body {
  background: #fff;
  /* color: white; */
  text-align: center;
  margin: 0px 0px 0px 0px;
}

span {
  color: inherit;
}

h1, h2, h3, h4 {
  margin: 0;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* 기존 css 추가 */

/* h1 {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 30px;
    padding: 20px 10px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    color: #e0dfdc;
    background-color: #333;
    letter-spacing: .1em;
    text-shadow: 
    0 -1px 0 #fff, 
    0 1px 0 #2e2e2e, 
    0 2px 0 #2c2c2c, 
    0 3px 0 #2a2a2a, 
    0 4px 0 #282828, 
    0 5px 0 #262626, 
    0 6px 0 #242424, 
    0 7px 0 #222, 
    0 8px 0 #202020, 
    0 9px 0 #1e1e1e, 
    0 10px 0 #1c1c1c, 
    0 11px 0 #1a1a1a, 
    0 12px 0 #181818, 
    0 13px 0 #161616, 
    0 14px 0 #141414, 
    0 15px 0 #121212, 
    0 22px 30px rgba(0, 0, 0, 0.9);
} */

#calculator {
    /* rt에 font size가 퍼센트라 안먹어서 없앴음 */
    font-size: 0;
    /* 300-> 405 : 105커짐 
    각 버튼 크기 10 늘리고 마진 9 늘리기*/
    width: 365px;
    height : 680px;
    background-color: #f1eadb;
    padding: 20px;
    margin: auto;
    border-radius: 10px;         
    z-index: 1;  
    position: relative;
}

#result {
    width: 357px;
    height: 104px;
    text-align: right;
    margin-bottom: 15px;
    padding: 0px 5px 0px 5px;
    background-color: #cbcdd5;
    border-radius: 5px;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    box-shadow: inset 0 0px 3px;
    font: 20px digital;
    resize: none;
}

.outside-key {
    width: 45px;
    height: 35px;
    line-height: 30px;
    background-color: #c6a4f3;
    display: inline-block;
    
  /* top, right, bottom, left */
    margin: 10px 10px 10px 10px;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    padding: 5px 0px 5px 0px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 3px 0 #a1a1a1, 0 2px 5px rgba(0, 0, 0, .75);
    font: bold 20px sans-serif;
}
.key{
    font-size: 20px;
    line-height: 30px;
}
.func-key, .var-key, .spec-key {
    font: italic 20px "Times New Roman"
}

.num-key{
    background-color: rgb(211, 255, 145);
    color: #000000;
}

.eval-key {
    background-color: rgb(211, 255, 145);
    color: #000000;
}

.clear-key {
    background-color: #bb1c09;
    color: white;
}

.cal-key{
    background-color: #f4d3df;
    color: #000000;
}

.key:active {
    background-color: #e8b4c6;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
/* 기존 css 끝 */

.menu-item{
    background: #e8b4c6;
    z-index: 2;
    visibility: hidden;
    color: #000000;
    /* display:none; */
}

.menu-item:hover{
    background: #c98592;
  /* background: #494949; */
  color: #ffffff;
}

.menu-open-button {
    border-radius: 100%;
    background: #b2dbcf;
    color: #000000;
    font-weight: bold;
    font-family: sans-serif;
    z-index: 1;
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition-duration: 400ms;
            transition-duration: 400ms;
    -webkit-transform: scale(1, 1) translate3d(0, 0, 0);
            transform: scale(1, 1) translate3d(0, 0, 0);
    cursor: pointer;
}

.menu-open-button:hover {
    background: #82b5b1;
  /* background: #494949; */
  color: #ffffff;
}

.mode-open-button {
    /* border-radius: 100%; */
    background: #fff589;
    color: #000000;
    font-weight: bold;
    font-size:12;
    font-family: sans-serif;
    z-index: 1;
    border-radius: 100%;

    width: 60px;
    height: 60px;
    position: absolute;
    text-align: center;
    line-height: 30px;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform ease-out 20ms;
            transition: transform ease-out 20ms;

    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition-duration: 400ms;
            transition-duration: 400ms;
    cursor: pointer;
}

/* text 세로정렬 */
/* https://webisfree.com/2014-03-07/[html-css]-%ED%85%8D%EC%8A%A4%ED%8A%B8-%EC%88%98%EC%A7%81-%EC%84%B8%EB%A1%9C%EB%B0%A9%ED%96%A5%EC%9C%BC%EB%A1%9C-%EC%A4%91%EC%95%99-%EC%A0%95%EB%A0%AC%ED%95%98%EB%8A%94-%EB%8B%A4%EC%96%91%ED%95%9C-%EB%B0%A9%EB%B2%95-%EC%95%8C%EC%95%84%EB%B3%B4%EA%B8%B0 */
.menu-item, .menu-open-button {
  /* background: #000000; */
  /* background: #15a79f; */
  border-radius: 100%;
  width: 60px;
  height: 60px;
  /* margin-left: -40px; */
  position: absolute;
  /* top: 120px; */
  text-align: center;
  line-height: 60px;
  cursor: pointer;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform ease-out 20ms;
          transition: transform ease-out 20ms;
}

  
  .menu-open-button:hover {
      /* scale이 아닌 색 변경으로 바꿀것 하위버튼 처럼 */
      /* background: #106d67; */
  }
.menu-open {
  display: none;
}

.menu {
  /* position: absolute; */
  /* left: 50%; */
  /* margin-left: 20px; */
  /* padding-top: 20px; */
  /* padding-left: 20px; */
  /* width: 380px;
  height: 250px; */
  /* top, right, bottom, left */
  margin: 10px 10px 10px 10px;
  width: 60px;
  height: 60px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  text-align: left;
  display: inline-block;
}



.menu-open:checked ~ .menu-item {
  -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
          transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}

.slidecontainer{
    width:50%;
}
.slidecontainer, #graph_div, #plot{
    display: none;
}

.range-button{
    width:20px;
    padding-bottom:5px;
    padding-top:5px;
    margin-bottom: 5px;
}